/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#location-info {
	margin-top: 0;
}

#map-canvas {
	width: 100%;
	height: 300px;
}
.listRubros{
    text-align:left;
}
#icp-info {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.65);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#listRubrosId{
    height: auto !important;
}
.block{
	margin-top: 60px;
}
.app-header{

	font-family: "Avenir", Futura, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.app-header h3{
	color: #ffe57f;
	font-size: 0.6em;
	margin-top: 0px;
}
.app-header-projects{
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.app-navbar{
	background: rgba(0,0,0,0.9);
	border-radius: 0;
}
.navbar-header{
	display: inline-block;

	width: 30%;
	height: 100px;
}
.navbar-brand{
	text-align: center;
}

.app-link{
	color: white;
	text-shadow:none;
}
.app-link:hover{
	color: white;
}
.app-nav>li>a{
	color: white;
	text-shadow:none;
}
.app-nav>li>a:hover{
	color: white;
	background-color:  #ffe57f;
}
.app-icon{
	background: white;
}

.app-seccion1{
	width: 60%;
	padding-top: 25px;
	margin: 0 auto;
	margin-top: 60px;
}
.app-titulo{
	text-align: center;
	color: white;
	font-size: 2.8em;
	margin-top: 90px;
	margin-bottom: 35px;
}
.app-resaltar{
	color: #0080d6;
}
.app-descripcion{
	text-align: center;
	color: white;
	font-size: 1em;
	margin-bottom: 100px;
}
.app-descripcion3{
	text-align: center;
	color: #727272;
	font-size: 1em;
	margin-bottom: 100px;
	padding: 20px;
}
.app-formulario1{
	width: 100%;
	margin: 0 auto;
}
.app-formulario2{
	padding: 15px 25px 25px 25px;
	background: rgba(0,0,0,0.6);
}
.app-input{
	height: 50px;
	margin-top: 10px;
}
.app-boton{
	margin-top: 10px;
	height: 50px;
	background: #0080d6;
	color: white;
}
.app-boton:hover{
	color: white;
}

.app-titulo2{
	margin-top: 0;
}
.app-separador{
	width: 100px;
	border-bottom: 1px solid #0080d6;
	margin-top: 20px;
	margin-bottom: 20px;
}
.app-justificar{
	text-align: justify;
	color: #727272;
}
.app-media{
	margin-top: 40px;
}
.app-glyphicon1{
	background-color: #0080d6;
	color: white;
	font-size: 30px;
	padding: 10px;
}

.app-seccion2{
	background: #f7f8fa;
	padding: 30px 0;
}
.app-seccion3{
	padding: 30px 0;
	background: white;
}
.app-titulo-contenedores{
	margin-bottom: 45px;
}
.app-contenedor{
	padding-top:0px;
	padding-bottom: 40px;
	height: 220px;
	text-align: center;
	border-radius: 5px 0px;
}
.app-contenedor-rubros{
	padding-top:0px;
	padding-bottom: 40px;
	height: 150px;
	text-align: center;
	border-radius: 5px 0px;
}
.app-contenedor h3 , .app-contenedor-rubros h3 {
	padding: 8px;
	color: #424242;
	background-color: #bdbdbd;
	border-radius: 5px;
}
.app-contenedor-rubros  p{
	font-size: 50px;
}
.app-contenedor-projects{
	background-color: white;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 10px;
	border: solid 1px #bdbdbd;
}
.row .app-contenedor , .app-contenedor-projects, .app-contenedor-rubros{
	background:  #eeeeee;
	-webkit-box-shadow: 10px 10px 21px -2px rgba(189,189,189,1);
-moz-box-shadow: 10px 10px 21px -2px rgba(189,189,189,1);
box-shadow: 10px 10px 21px -2px rgba(189,189,189,1);
}
.app-separador2{
	width: 200px;
	border-bottom: 1px solid #0080d6;
	margin: 20px auto;
}
.glyphicon2{
	color: #0080d6;
	font-size: 60px;
}
.app-descripcion2{
	color: #727272;
}
#img-logo{
	height: 50px;
}

.app-precio{
	text-align: center;
}
.app-pago{
	font-weight: bold;
	margin-right: 30px;
}

.app-btn1{
	background-color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid black;
}
.app-btn2{
	background-color: #0080d6;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
}

.app-footer{
	text-align: center;
	background: #f7f8fa;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 100px 0;
}
.app-empresa{
	margin-bottom: 50px;
}
.app-icon1{
	background-color: #919191;
	color: white;
	padding: 10px;
	border-radius: 4px;
	margin-left: 10px;
}
.btn-warning{
	background:#0080d6;
	border-color:#0080d6;

}
	.center-block{
		float: none !important;
	}

@media (max-width: 480px){

	#nosotrosContainer .app-contenedor{
	height: 350px !important;
	}
}
		
	

@media (max-width: 768px){
	.center-block1{
		float:none !important;
			display: block;
  margin-left: auto;
  margin-right: auto;
	
	}
	#nosotrosContainer .app-contenedor{
	height: 250px;
	}
	.app-header h3{
		font-size: 12px;
		
	}
	.navbar-brand{
		padding-top: 5px;
	}
	.navbar-header{
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.app-footer{
		padding: 50px;
	}
	.app-seccion1{
		width: 90%;
	}
	.app-titulo{
		font-size: 1.8em;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.app-descripcion{
		font-size: 0.8em;
		margin-bottom: 50px;
	}
	.block{
		margin-top: 55px;
	}
}



@media (min-width: 768px) { 
	#location-info {
		position: relative;
		height: 300px;
	}

	#map-canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	#icp-info {
		height: 300px;
	}
}


















































